<h2 class="heading02">■ aa情報</h2>

<div class="cart_item table">
    <div class="tbody">
        <div class="item_box tr">
            <div class="td table">
                <dl class="item_detail">
                    <dt class="item_name text-default">aaaaa:bbbbbbbbbb </dt>
                </dl>
            </div>
        </div>
    </div>
</div>
